body {
  background-image: url(images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header {
  background-color: #6890f0;
  text-align: center;
  margin-top: 2vw;
  padding: 0;
  height: 1.5em;
  font-size: 4em;
  color: #f8d030;
}

footer {
  background-color: #705848;
  backdrop-filter: opacity(0);
  text-align: center;
  margin: 0;
  padding: 0;
  height: 3.5em;
  font-size: 2em;
  color: #e0c068;
}

#details {
  margin: 5em;
  margin-top: 0.5em;
  padding: 1.5em;
  align-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  position: fixed;
}

img {
  width: 20vw;
}

#footprint {
  max-width: 5vw;
}
/* #sources{
opacity: 0;
border: 10px dotted green;
background-color: green;
} */

/* GRID CONTAINERS */
.grid-container {
  display: grid;
  position: relative;
  /* float: inline-end; */
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.grid-container > article {
  border: 2px black solid;
  cursor: pointer;
  backdrop-filter: blur(5px);
  cursor: grab;
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 30px;
}

.offHover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.onHover {
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@media (min-width: 300px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* KEYFRAMES */

@keyframes zoom {
  100% {
    scale: 1.05;
    box-shadow: 0 0 16px 10px green;
  }
}

/* BACKGROUND COLORS */

.water {
  background-color: #6890f0;
}
.fighting {
  background-color: #c03028;
}
.normal {
  background-color: #a8a878;
}
.psychich {
  background-color: #f85888;
}
.grass {
  background-color: #78c850;
}
.sun {
  background-color: #78c850;
}
.dragon {
  background-color: #7038f8;
}
.electric {
  background-color: #f8d030;
}
.ground {
  background-color: #e0c068;
}
.fire {
  background-color: #f08030;
}
.ghost {
  background-color: #705898;
}
.psychic {
  background-color: #e5709b;
}
.dark {
  background-color: #705848;
  color: whitesmoke;
}
.bug {
  background-color: #a8b820;
}
.fairy {
  background-color: #ee99ac;
}

.flying {
  background-color: #7da6de;
}
