.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

.grid-container > article {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
    background-color: var(--white);
    transition: 0.5s;
    animation: fadeIn 0.5s;
    cursor: pointer;
}